<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.EntrenadorMapper">
    
    <resultMap id="EntrenadorMap" type="models.Entrenador">
        <id column="id_entrenador" property="idEntrenador" />
        <result column="nombre" property="nombre" />
        <result column="telefono" property="telefono" />
        <result column="email" property="email" />
        <result column="especialidad" property="especialidad" />
        <result column="fecha_contratacion" property="fechaContratacion" />
    </resultMap>

    <select id="listarEntrenadores" resultMap="EntrenadorMap">
        SELECT id_entrenador, nombre, telefono, email, especialidad
        FROM entrenador
    </select>

</mapper>
