<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.VentaMapper">
    <resultMap id="VentaMap" type="models.Venta">
        <id column="id_venta" property="idVenta" />
        <result column="id_cliente" property="idCliente" />
        <result column="id_oportunidad" property="idOportunidad" />
        <result column="monto" property="monto" />
        <result column="fecha" property="fecha" />
        <result column="estado" property="estado" />
    </resultMap>

    <select id="listarVentas" resultMap="VentaMap">
        SELECT id_venta, id_cliente, id_oportunidad, monto, fecha, estado
        FROM Venta
    </select>
</mapper>
